* {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
@media screen and (min-width: 320px) {
  html {
    font-size: 21.33333333px;
  }
}
@media screen and (min-width: 360px) {
  html {
    font-size: 24px;
  }
}
@media screen and (min-width: 375px) {
  html {
    font-size: 15px;
  }
}
@media screen and (min-width: 384px) {
  html {
    font-size: 25.6px;
  }
}
@media screen and (min-width: 400px) {
  html {
    font-size: 26.66666667px;
  }
}
@media screen and (min-width: 414px) {
  html {
    font-size: 27.6px;
  }
}
@media screen and (min-width: 424px) {
  html {
    font-size: 28.26666667px;
  }
}
@media screen and (min-width: 480px) {
  html {
    font-size: 32px;
  }
}
@media screen and (min-width: 540px) {
  html {
    font-size: 36px;
  }
}
@media screen and (min-width: 720px) {
  html {
    font-size: 48px;
  }
}
@media screen and (min-width: 750px) {
  html {
    font-size: 50px;
  }
}
.navbar-default {
  background: none;
  border: 0;
}
.navbar-nav {
  float: right;
  margin-top: 1%;
}
.navbar-nav .navon {
  border-bottom: 2px solid #367fff;
}
.navbar-nav li {
  width: 1.5rem;
  padding: 0.2rem;
  padding-right: 0;
  padding-left: 0;
}
.navbar-nav li a:hover {
  color: white !important;
}
.navbar-nav li a {
  color: white !important;
  width: 97%;
  text-align: center;
  padding: 0;
  color: black;
  float: left;
  padding-bottom: 0.2rem;
}
.navbar-nav li i {
  float: right;
  display: inline-block;
  width: 3%;
  height: 0.4rem;
  background: #ccc;
}
.navbar-nav li .dropdown-menu {
  min-width: 100%;
  padding: 0;
}
.navbar-nav li .dropdown-menu li {
  padding: 0;
  line-height: 0.2rem;
}
.navbar-nav li .dropdown-menu li a:hover {
  color: black !important;
}
.navbar-nav li .dropdown-menu li a {
  color: black !important;
  width: 100%;
  float: none;
  padding-top: 0.2rem;
}
.logo {
  height: 1rem;
  width: 3rem;
}
.container {
  position: relative;
  padding: 0;
}
.top-bg {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -10;
}
.top-h1 {
  padding: 0;
  margin-top: 1rem;
  color: white;
  z-index: 1;
  margin-left: 1rem;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.2rem;
}
.top-h2 {
  color: white;
  z-index: 1;
  margin: 0;
  padding: 0;
  margin-left: 1rem;
  font-size: 0.35rem;
  line-height: 1rem;
}
.top-h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 0.5rem;
}
.top-h3 a {
  margin: 0;
  margin-left: 1rem;
  float: left;
  display: inline-block;
  height: 1rem;
  width: 5rem;
  padding: 0;
}
.top-h3 a img {
  width: 100%;
  height: 100%;
}
.main-top {
  margin-top: 1rem;
  background: white;
  margin-bottom: 1rem;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.247);
}
.main-top .main-top-left {
  width: 100%;
}
.main-top .main-top-left .gyskimg {
  width: 90%;
  margin: 5%;
}
.main-top .main-top-left h3 {
  margin: 0;
  padding-right: 0 !important;
  padding-bottom: 5%;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
}
.main-top .main-top-left h3 a {
  display: inline-block;
  float: left;
  margin-left: 3%;
  width: 47%;
}
.main-top .main-top-left h3 a img {
  width: 100%;
}
.main-top .main-top-right {
  width: 100%;
}
.main-top .main-top-right h1 {
  margin-top: 5% !important;
  padding: 0 !important;
  margin-left: 1rem;
}
.main-top .main-top-right h1 span {
  float: left;
  font-size: .5rem;
  display: inline-block;
  line-height: 0.7rem;
  border-bottom: 2px solid #367fff;
}
.main-top .main-top-right p {
  font-size: .25rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.main-top .main-top-right ul {
  padding-left: 1.5rem;
}
.main-top .main-top-right ul li {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  text-align: left;
  width: 30%;
  float: left;
  font-size: 0.25rem;
  list-style: disc;
  padding-top: 10px;
}
.main-mid {
  width: 100%;
  padding-bottom: 1.5rem;
  background-color: #f7f7f7;
}
.main-mid div {
  background-size: 100% 100% !important;
  width: 46%;
  margin-left: 2%;
  margin-right: 2%;
  float: left;
  position: relative;
  padding-top: 4.2rem;
  padding-left: .5rem;
  padding-right: .5rem;
  overflow: hidden;
  margin-top: 1rem;
  height: 9rem;
}
.main-mid div p {
  font-size: 0.2rem;
}
.main-mid div h6 {
  color: #1874ff;
}
.main-mid div h5 {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.main-mid div h5 a {
  display: inline-block;
  width: 50%;
  text-align: center;
}
.mid {
  box-shadow: none !important;
}
.mid .gyskimg0 {
  width: 90%;
  margin: 5%;
}
.mid .main-top-right .skw {
  margin-left: 1rem;
  font-size: 0.5rem;
}
.mid .main-top-right .main-top-right-ul div {
  width: 100%;
}
.mid .main-top-right .main-top-right-ul div h6 {
  margin: 0;
  margin-left: 1rem;
  font-size: .3rem;
  line-height: .5rem;
  color: #333;
}
.mid .main-top-right .main-top-right-ul div h6 i {
  display: inline-block;
  float: left;
  width: 8px;
  height: 8px;
  margin-right: 14px;
  margin-top: 8px;
  background-color: #1874ff;
}
.mid .main-top-right .main-top-right-ul div p {
  font-size: .25rem;
  line-height: 0.3rem;
  color: #333;
  padding-right: 1rem;
  text-align: justify;
}
.mid-bot {
  width: 100%;
}
.mainend {
  margin: 0;
  width: 100%;
  background: white;
}
.mainend .mainendli {
  position: relative;
  margin-top: .5rem;
}
.mainend .mainendli img {
  width: 100%;
  border-radius: 10px;
}
.mainend .mainendli div {
  position: absolute;
  bottom: .5rem;
  padding-left: 0.25rem;
  padding-right: 0.5rem;
}
.mainend .mainendli div h4 {
  font-size: .3rem;
  font-weight: bold;
}
.mainend .mainendli div p {
  font-size: .25rem;
}
.mainend .mainendli div a {
  position: absolute;
  bottom: 0;
}
footer {
  background-color: #333333;
  margin-top: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
footer .end {
  width: 100%;
}
footer .end div {
  color: white;
  float: left;
}
footer .end div p:first-child {
  font-size: 0.25rem;
  font-weight: bold;
  line-height: 0.5rem;
}
footer .end div p {
  width: 100%;
  text-align: center;
  font-size: 0.1rem;
}
footer .end div p img {
  width: 100%;
}
footer h1 {
  margin-top: 0.25rem;
  text-align: center;
  width: 100%;
  color: #fff;
  line-height: 30px;
  font-size: 10px;
  font-weight: normal;
}
footer h1 img {
  display: inline-block;
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  .navbar-nav li {
    width: 2rem;
  }
  .main-top-left {
    width: 50% !important;
    float: left ;
  }
  .main-top-right {
    width: 50% !important;
    float: left;
  }
  .main-mid div {
    width: 29%;
    margin-left: 2%;
    margin-right: 2%;
  }
  .mainend .mainendli div {
    top: 4.5rem;
  }
}
@media screen and (max-width: 767px) {
  .mainend .mainendli img {
    width: 80%;
    margin-left: 10%;
  }
  .mainend .mainendli div {
    padding-left: 2.25rem;
    padding-right: 2.5rem;
  }
  .mainend .mainendli div h4 {
    font-size: 0.5rem;
  }
  .mainend .mainendli div p {
    font-size: .45rem;
  }
  .mainend .mainendli div a {
    font-size: 0.4rem;
  }
  .main-top-right-ul div h6 {
    line-height: 1rem !important;
  }
  .main-top-right-ul div h6 i {
    float: none !important;
  }
  .main-top-right-ul div p {
    line-height: 0.6rem !important;
  }
  .main-mid div {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 20rem;
    padding-top: 9.2rem;
  }
  .main-mid div h4 {
    font-size: 0.6rem;
  }
  .main-mid div h6 {
    font-size: 0.4rem;
  }
  .main-mid div p {
    font-size: 0.6rem;
  }
  .navbar-collapse.in {
    border: none !important;
  }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border: none !important;
  }
  #bs-example-navbar-collapse-1 {
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    margin: 0 !important;
  }
  .navbar-nav {
    width: 100%;
    margin: 0;
    float: none;
    text-align: center;
    background: white !important;
  }
  .navbar-nav li {
    width: 100%;
    text-align: center;
  }
  .navbar-nav li a:hover {
    color: black !important;
  }
  .navbar-nav li a {
    color: black !important;
    width: 100%;
    float: none;
  }
  .navbar-nav li i {
    opacity: 0;
  }
  .navbar-nav li .dropdown-menu {
    left: 0;
    background: #ccc !important;
  }
  .navbar-nav li .dropdown-menu a {
    padding: 0.2rem 0 !important;
  }
  .navbar-collapse {
    padding: 0;
  }
  .chat{
    width: 100% !important;
  }
  .start-chat{
    width: 100% !important;
  }
}
@media screen and (max-width: 360px) {
  .navbar-default,
  .top-h1 {
    margin: 0 !important;
  }
  .top-h1 {
    margin-left: 1rem !important;
  }
  .top-h2 {
    display: none;
  }
}
/* 聊天框 */
/*清除浮动代码*/
.clearfloat:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0;
}
.clearfloat {
zoom: 1;
}
/* 聊天框 */
.chat{
    position: relative;
    user-select: none;
    cursor: pointer;
    width: 400px;
    height: 400px;
    background: rgb(233, 233, 233);
    position: fixed;
    bottom:-400px;
    right:0px;
}
.chat-top{
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #5BA2F0;
    padding: 0;
    margin: 0;
}
.chat-gl-user{
    margin-top:5px;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
    border-radius: 50%;
}
.chat-gl-user-nav{
    font-size:0.15rem;
    font-weight: normal;
    color: white;
    float: left;
    display: inline-block;
    height: 100%;
}
.chat-end,.chat-start{
    cursor: pointer;
    float: right;
    margin-right: 10px;
    height: 100%;
}
/* 开始 */
.start-chat{
    width: 400px;
    height: 40px;
    line-height: 40px;
    position: fixed;
    bottom: 0;
    right:0px;
    background: #5BA2F0;
    display: none;
}
.chat-start{
    transform:rotate(180deg);
}
.chat-main{
    overflow-y: scroll;
    background: white;
    width:98%;
    border-left: 4px solid rgb(233, 233, 233);
    border-right: 4px solid rgb(233, 233, 233);
    height:60%;
}
.main-chat-nav{
    width: 70%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    padding:10px;
    background: rgb(190, 208, 255);
    border-radius: 10px;
    font-size: 13px;
}
.main-chat-nav a{
    color: red;
    text-decoration: none;
}
.main-chat .root{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
    width:70%;
}
.root img{
    width: 10%;
    height: 10%;
    border-radius: 50%;
    float: left;
}
.root p{
    padding: 10px;
    float:left;
    margin-top: 10px;
    margin-left: 10px;
    background: rgb(255, 251, 42);
    border-radius: 0px 10px 10px 10px;
    color: black;
    font-size: 12px;
}
.root p a{
    color: red;
    text-decoration: none;
}
.main-main{
    width: 100%;
}
.main-chat .user{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.main-chat .user img{
    width: 10%;
    height: 10%;
    border-radius: 50%;
    float: right;
}
.main-chat .user p{
    padding: 10px;
    float: right;
    margin-right: 20px;
    background: rgb(13, 97, 253);
    border-radius: 10px 0px 10px 10px;
    color: black;
    font-size: 12px;
}
.main-chat .user p a{
    color: red;
    text-decoration: none;
}
.chat-text{
    cursor:inherit;
    width: 96%;
    right:2%;
    position: absolute;
    bottom:10%;
    height:73px;
    font-size: 0.2rem;
    background: white;
    outline: none;
    padding: 10px;
    resize: none;
}
.chat-bot{
    padding: 0;
    margin: 0;
    width: 96%;
    border-left: 8px solid rgb(233, 233, 233);
    border-right: 8px solid rgb(233, 233, 233);
    height: 10%;
    position: absolute;
    bottom: 0;
}
.chat-bot .sjh-nav{
    margin-top:8px;
    float: left;
    font-weight: normal;
    font-size: 15px;
}
.chat-bot .sjh{
    width: 60%;
    height:20px;
    font-size:0.15rem;
    margin-top:8px;
    float: left;
    outline: none;
    padding-left: 10px;
}
.chat-bot .fs{
    font-size: 0.15rem;
    margin-top:8px;
    float: right;
    padding-left: 15px;
    padding-right: 15px;
}