*{padding: 0;margin: 0;}
li{list-style: none;}
// @import 是导入的意思 可以把一个样式文件导入到另外一个样式文件里面去
// @import "common";
/*清除浮动代码*/
.clearfloat:after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;
  }
  .clearfloat {
    zoom: 1;
  }
header{
    width: 100%;
    height: 800px;
    background: url(http://www.sungoedu.com/images/banner_bj.jpg) center no-repeat;
    overflow: hidden;
    margin: 0 auto;
    nav{
        width: 1200px;
        margin: 40px auto 0;
        height: 50px;
        line-height: 50px;
        color: #333;
        .logo{
            width: 190px;
            height: auto;
            margin-left: 0;
            float: left;
        }
        ul{
            position: relative;
            width: 880px;
            margin-right: 0;
            font-family: "Microsoft YaHei",SimSun,SimHei;
            font-size: 14px;
            float: right;
            li a{
                display: inline-block;
                width: 115px;
                text-align: center;
                font-weight: bold;
                color: #fff;
                text-decoration: none;
            }
            .m{
                float: left;
                position: relative;
                z-index: 1;
                .s{
                    float: right;
                    width: 3px;
                    font-style: normal;
                    text-align: center;
                    color: #D4D4D4;
                    font-size: 12px;
                }
                ol{
                    transition: all 0.5s;
                    position: absolute;
                    width: 118px;
                    left: -3px;
                    top: 50px;
                    z-index: 1;
                    border-top: 0;
                    opacity: 0;
                    background: #fff;
                }
                ol li a:hover{
                    color: #367fff;
                }
                ol li a{
                    display: block;
                    border-bottom: 1px solid #E6E4E3;
                    padding: 8px 0;
                    height: 28px;
                    line-height: 28px;
                    color: #000;
                    font-size: 12px;
                    font-weight: bold;
                }
                
            }
            .nav-bot{
                background:#367fff;
                height:8px;
                width: 118px;
                position: absolute;
                bottom: 0;
                transition: all 0.25s;
            }
        }
    }
    h1{
        width: 1200px;
        height: 412px;
        margin: 0 auto;
        text-align: left;
        margin-top: 120px;
        font-size: 5rem;
        line-height: 7rem;
        color: #fff;
        .h1-bot{
            height: 96px;
            line-height: 96px;
            width: 1200px;
            margin: 0 auto;
            font-size: 1.2rem;
            line-height: 6rem;
            color: #fff;
            text-align: justify;
            font-family: '微软雅黑';
            font-weight: normal;
        }
        a{
            display: inline-block;
            height: 56px;
            float: left;
            margin-right: 60px;
            line-height: 50px;
            img{
                display: inline-block;
            }
        }
    }
}
section{
    width: 1500px;
    margin: 0 auto;
    margin-top: -100px;
    .top{
        background-size:100% 100%;
        background: url(http://www.sungoedu.com/images/white.png) no-repeat;
        height: 650px;
        margin-bottom: 60px;
        .top-left,.top-right{
            float: left;
            width: 50%;
            height: 100%;
            text-align: right;
        }
        .top-left{
            .pic{
                margin-top: 90px;
                display: inline-block;
                width:558px;
                height: auto;
                box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.247);
                margin-bottom: 50px;
            }
            .pic-bot{
                display: inline-block;
                width: 562px;
                img{
                    float: left;
                }
                img:nth-child(1){float: left;}
                img:nth-child(2){float: right;}
            }
        }
        .top-right{
            width: 45%;
            padding-left: 5%;
            h2{
                width: 100px;
                padding-bottom: 20px;
                border-bottom: 2px solid #1874ff;
                margin-top: 90px;
            }
            p{
                width: 80%;
                margin-right:10%;
                font-size: 16px;
                text-align: left;
                line-height: 30px;
                color: #4c4c4c;
                padding-top: 20px;
            }
            .gyskul{
                width: 80%;
                margin-right:10%;
                margin-left:5%;
                margin-top: 50px;
                li:hover{
                    color: #367fff;
                }
                li{
                    text-decoration: none;
                    color: #333;
                    font-weight: bold;
                    text-align: left;
                    width: 30%;
                    float: left;
                    list-style: disc;
                    padding-top: 10px;
                }
            }
        }
    }
    .top-main{
        width: 100%;
        padding-top: 80px;
        padding-bottom: 80px;
        background-color: #f7f7f7;
        margin: 0 auto;
        .top-main-body{
            margin: 0 auto;
            width: 1200px;
            div{
                position: relative;
                width: 345px;
                height: 290px;
                padding-top: 270px;
                padding-left: 25px;
                padding-right: 25px;
                float: left;
                overflow: hidden;
                margin-top: 50px;
                margin-right: 5px;
                h4{
                    font-size: 20px;
                    color: #333333;
                    margin-bottom: 10px;
                }
                h6{
                    font-size: 15px;
                    color: #1874ff;
                    font-weight: normal;
                    margin-bottom: 20px;
                }
                p{
                    padding-right: 40px;
                }
                h5{
                    position: absolute;
                    bottom: 0px;
                    width: 100%;
                    left: 0;
                    margin-top: 50px;
                    a{
                        display: inline-block;
                        width: 47%;
                        height: 50px;
                        font-size:20px;
                        color: #1874ff;
                        text-align: center;
                        line-height: 50px;
                        text-decoration: none;
                        font-weight: normal;
                    }
                }
            }
        }
    }
    .main-main{
        margin:20px;
        width: 100%;
        .content{
            width: 1200px;
            height: 600px;
            margin: 0 auto;
            div{
                width: 50%;
                // height: 100%;
                float: left;
            }
            .cont-l{
                img{
                    width: 100%;
                }
                p{
                    width: 100%;
                    img:first-child{
                        float: left;
                        width: 250px;
                        height: 60px;
                    }
                    img:last-child{
                        float: right;
                        width: 250px;
                        height: 60px;
                    }
                }
            }
            .cont-r{
                h3{
                    display: block;
                    float: none;
                    width: 100%;
                    font-size: 10px;
                    margin-top: 50px;
                    font-weight: normal;
                }
                width: 45%;
                padding-left:5%;
                h2{
                    font-size: 24px;
                    color: #333;
                    a{
                        font-size: 16px;
                        color: #1874ff;
                        line-height: 60px;
                        text-decoration: none;
                        font-weight: normal;
                    }
                }
                .cont-r-m{
                    width: 100% !important;
                    float: none;
                    div{
                        float: none;
                        width: 100% !important;
                        h6{
                            font-size: 12px;
                            line-height: 24px;
                            color: #333;
                            i{
                                display: inline-block;
                                float: left;
                                width: 8px;
                                height: 8px;
                                margin-right: 14px;
                                margin-top: 8px;
                                background-color: #1874ff;
                            }
                        }
                        p{
                            font-size: 10px;
                            line-height: 24px;
                            color: #333;
                            text-align: justify;
                        }
                    }
                }
            }
        }
    }
    .mid{
        display: block;
        width: 1500px;
        margin:0 auto;
    }
    .main-end{
        background: white;
        width: 100%;
        .main-endd{
            width: 1200px;
            margin: 0 auto;
            div{
                width:29%;
                height: 500px;
                float: left;
                margin:20px;
                position: relative;
                border-radius: 10px;
                border: 1px solid #D2D2D2;
                background-size: 100% 100%;
                background: url(http://www.sungoedu.com/images/bj_que_1.png) no-repeat;
                h6{
                    width: 336px;
                    position: absolute;
                    top: 300px;
                    left: 20px;
                    font-size: 15px;
                    line-height: 30px;
                    color: #444;
                    p{
                        width: 92%;
                        font-size: 14px;
                        letter-spacing: 1px;
                        line-height: 22px;
                        color: #666;
                        text-align: justify;
                        font-weight: normal;
                    }
                    a{
                        font-weight: normal;
                    }
                    a:hover{
                        color: #367fff;
                    }
                }
            }
        }
    }
}
footer{
    width: 100%;
    height: 540px;
    background-color: #333333;
    padding-top: 30px;
    .end{
        width: 1500px;
        height:60%;
        margin: 0 auto;
        div{
            width: 250px;
            float: left;
            text-align: center;
            p{
                color: white;
                width: 100%;
                text-align: center;
                font-size: 14px;
                height: 24px;
                line-height: 24px;
            }
            p:first-child{
                font-size: 18px;
                height: 50px;
                line-height: 50px;
            }
            img{
                width: 160px;
                height: 160px;
                display: inline-block;
            }
        }
    }
    h1{
        text-align: center;
        width: 100%;
        .end-logo{
            display: inline-block;
        }
        color: #fff;
        line-height: 36px;
        font-size: 14px;
        font-weight: normal;
    }
}

























































