* {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
@media screen and (min-width: 320px) {
  html {
    font-size: 21.33333333px;
  }
}
@media screen and (min-width: 360px) {
  html {
    font-size: 24px;
  }
}
@media screen and (min-width: 375px) {
  html {
    font-size: 25px;
  }
}
@media screen and (min-width: 384px) {
  html {
    font-size: 25.6px;
  }
}
@media screen and (min-width: 400px) {
  html {
    font-size: 26.66666667px;
  }
}
@media screen and (min-width: 414px) {
  html {
    font-size: 27.6px;
  }
}
@media screen and (min-width: 424px) {
  html {
    font-size: 28.26666667px;
  }
}
@media screen and (min-width: 480px) {
  html {
    font-size: 32px;
  }
}
@media screen and (min-width: 540px) {
  html {
    font-size: 36px;
  }
}
@media screen and (min-width: 720px) {
  html {
    font-size: 48px;
  }
}
@media screen and (min-width: 750px) {
  html {
    font-size: 50px;
  }
}
/*清除浮动代码*/
.clearfloat:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0;
}
.clearfloat {
  zoom: 1;
}
header {
  width: 30rem;
  padding-bottom: 1rem;
  background: url(http://www.sungoedu.com/images/banner_bj.jpg) center no-repeat;
  overflow: hidden;
  margin: 0 auto;
}
header nav {
  display: block;
  width: 100%;
  margin: 40px auto 0;
  height: 50px;
  line-height: 50px;
  color: #333;
}
header nav .xlon {
  margin-top: -50px;
  display: none;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  margin-right: 1rem;
  border: 2px solid white;
  float: right;
}
header nav .xlon p {
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
  background: white;
  height: 4px;
  border-radius: 20px;
  margin-top: 14%;
}
header nav .logo {
  width: 3.8rem;
  height: auto;
  margin-left: 1rem;
  float: left;
}
header nav ul {
  position: relative;
  width: 17rem;
  margin-right: 0;
  font-family: "Microsoft YaHei", SimSun, SimHei;
  font-size: 14px;
  float: right;
}
header nav ul li a {
  display: inline-block;
  width: 2.3rem;
  text-align: center;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}
header nav ul .m {
  float: left;
  position: relative;
}
header nav ul .m .s {
  float: right;
  width: 3px;
  font-style: normal;
  text-align: center;
  color: #D4D4D4;
  font-size: 12px;
}
header nav ul .m ol {
  transition: all 0.5s;
  position: absolute;
  left: -3px;
  top: 50px;
  z-index: 1;
  border-top: 0;
  opacity: 0;
  background: #fff;
}
header nav ul .m ol li a:hover {
  color: #367fff;
}
header nav ul .m ol li a {
  width: 100%;
  display: block;
  border-bottom: 1px solid #E6E4E3;
  padding: 8px 0;
  height: 28px;
  line-height: 28px;
  color: #000;
  font-size: 12px;
  font-weight: bold;
}
header nav ul .nav-bot {
  background: #367fff;
  height: 8px;
  position: absolute;
  bottom: 0;
  transition: all 0.25s;
}
header h1 {
  width: 100%;
  height: 8.24rem;
  margin: 0 auto;
  text-align: left;
  margin-top: 120px;
  font-size: 2rem;
  line-height: 2.5rem;
  margin-left: 1.5rem;
  color: #fff;
}
header h1 .h1-bot {
  width: 24rem;
  font-size: 0.5rem;
  line-height: 2rem;
  color: #fff;
  text-align: justify;
  font-family: '微软雅黑';
  font-weight: normal;
}
header h1 a {
  display: inline-block;
  height: 2rem;
  float: left;
  margin-right: 1.5rem;
  line-height: 1rem;
}
header h1 a img {
  display: inline-block;
}
section {
  width: 24rem;
  margin: 0 auto;
  margin-top: -2rem;
}
section .top {
  background-size: 100% 100%;
  background: white;
  height: 13rem;
  margin-bottom: 1rem;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.247);
}
section .top .top-left,
section .top .top-right {
  float: left;
  width: 50%;
  height: 100%;
  text-align: right;
}
section .top .top-left .pic {
  margin-top: 1.8rem;
  display: inline-block;
  width: 9rem;
  margin-left: 1rem;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.247);
  margin-bottom: 50px;
}
section .top .top-left .pic img {
  width: 100%;
  height: 100%;
}
section .top .top-left .pic-bot {
  display: inline-block;
  width: 9rem;
  margin-left: 1rem;
}
section .top .top-left .pic-bot img {
  width: 45%;
  float: left;
}
section .top .top-left .pic-bot img:nth-child(1) {
  float: left;
}
section .top .top-left .pic-bot img:nth-child(2) {
  float: right;
}
section .top .top-right {
  width: 45%;
  padding-left: 5%;
}
section .top .top-right h2 {
  width: 2rem;
  font-size: .5rem;
  padding-bottom: .4rem;
  border-bottom: 2px solid #1874ff;
  margin-top: 1.8rem;
}
section .top .top-right p {
  width: 80%;
  margin-right: 10%;
  font-size: .25rem;
  text-align: left;
  line-height: 0.5rem;
  color: #4c4c4c;
  padding-top: 0.5rem;
}
section .top .top-right .gyskul {
  width: 80%;
  margin-right: 10%;
  margin-left: 5%;
  margin-top: 1rem;
}
section .top .top-right .gyskul li:hover {
  color: #367fff;
}
section .top .top-right .gyskul li {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  text-align: left;
  width: 30%;
  float: left;
  font-size: 0.25rem;
  list-style: disc;
  padding-top: 10px;
}
section .top-main {
  width: 100%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: #f7f7f7;
  margin: 0 auto;
}
section .top-main .top-main-body {
  margin: 0 auto;
  width: 24rem;
}
section .top-main .top-main-body div {
  position: relative;
  width: 25%;
  height: 5.8rem;
  padding-top: 5.4rem;
  padding-left: .5rem;
  padding-right: .5rem;
  float: left;
  overflow: hidden;
  margin-top: 1rem;
  margin-left: .8rem;
}
section .top-main .top-main-body div h4 {
  font-size: .4rem;
  color: #333333;
  margin-bottom: 0.2rem;
}
section .top-main .top-main-body div h6 {
  font-size: 0.3rem;
  color: #1874ff;
  font-weight: normal;
  margin-bottom: .4rem;
}
section .top-main .top-main-body div p {
  padding-right: -0.2rem;
  font-size: 0.28rem;
}
section .top-main .top-main-body div h5 {
  position: absolute;
  bottom: 0px;
  width: 100%;
  left: 0;
  margin-top: 1rem;
}
section .top-main .top-main-body div h5 a {
  display: inline-block;
  width: 50%;
  height: 1rem;
  font-size: 0.4rem;
  color: #1874ff;
  text-align: center;
  line-height: 1rem;
  text-decoration: none;
  font-weight: normal;
}
section .main-main {
  margin-top: 0.4rem;
  width: 100%;
}
section .main-main .content {
  width: 24rem;
  height: 1.5rem;
  margin: 0 auto;
}
section .main-main .content div {
  width: 50%;
  float: left;
}
section .main-main .content .cont-l img {
  width: 100%;
}
section .main-main .content .cont-l p {
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 10px;
}
section .main-main .content .cont-l p img:first-child {
  float: left;
  width: 5rem;
  height: 1.1rem;
}
section .main-main .content .cont-l p img:last-child {
  float: right;
  width: 5rem;
  height: 1.1rem;
}
section .main-main .content .cont-r {
  width: 45%;
  padding-left: 5%;
}
section .main-main .content .cont-r h3 {
  display: block;
  float: none;
  width: 100%;
  font-size: 0.25rem;
  margin-top: 25px;
  font-weight: normal;
}
section .main-main .content .cont-r h2 {
  font-size: .5rem;
  color: #333;
}
section .main-main .content .cont-r h2 a {
  font-size: .35rem;
  color: #1874ff;
  line-height: 1rem;
  text-decoration: none;
  font-weight: normal;
}
section .main-main .content .cont-r .cont-r-m {
  width: 100% !important;
  float: none;
}
section .main-main .content .cont-r .cont-r-m div {
  float: none;
  width: 100% !important;
}
section .main-main .content .cont-r .cont-r-m div h6 {
  font-size: .35rem;
  line-height: .5rem;
  color: #333;
}
section .main-main .content .cont-r .cont-r-m div h6 i {
  display: inline-block;
  float: left;
  width: 8px;
  height: 8px;
  margin-right: 14px;
  margin-top: 8px;
  background-color: #1874ff;
}
section .main-main .content .cont-r .cont-r-m div p {
  font-size: .3rem;
  line-height: 0.5rem;
  color: #333;
  padding-right: 1rem;
  text-align: justify;
}
section .mid {
  display: block;
  width: 24rem;
  margin: 0 auto;
}
section .main-end {
  background: white;
  width: 100%;
}
section .main-end .main-endd {
  width: 24rem;
  margin: 0 auto;
}
section .main-end .main-endd div {
  width: 29%;
  height: 10rem;
  float: left;
  margin: 2%;
  position: relative;
  border-radius: 10px;
  border: 1px solid #D2D2D2;
  background-size: 100% 100% !important;
}
section .main-end .main-endd div h6 {
  width: 90%;
  position: absolute;
  top: 6rem;
  left: 5%;
  font-size: 0.3rem;
  line-height: 0.6rem;
  color: #444;
}
section .main-end .main-endd div h6 p {
  width: 100%;
  font-size: 0.3rem;
  letter-spacing: 1px;
  line-height: 0.45rem;
  color: #666;
  text-align: justify;
  font-weight: normal;
}
section .main-end .main-endd div h6 a {
  display: inline;
  position: absolute;
  bottom: -20px;
  font-weight: normal;
}
section .main-end .main-endd div h6 a:hover {
  color: #367fff;
}
footer {
  width: 100%;
  margin: 0 auto;
  background-color: #333333;
  padding-top: 0.6rem;
}
footer .end {
  width: 24rem;
  height: 60%;
  margin: 0 auto;
}
footer .end div {
  width: 16%;
  float: left;
  text-align: center;
}
footer .end div p {
  color: white;
  width: 100%;
  text-align: center;
  font-size: 10px;
  height: 25px;
  line-height: 20px;
}
footer .end div p:first-child {
  font-size: 18px;
  height: 50px;
  line-height: 50px;
}
footer .end div img {
  width: 3.2rem;
  height: 3.2rem;
  display: inline-block;
}
footer h1 {
  margin: 0 auto;
  margin-top: 0.25rem;
  text-align: center;
  width: 24rem;
  color: #fff;
  line-height: 30px;
  font-size: 10px;
  font-weight: normal;
}
@media screen and (max-width: 1500px) {
  header {
    width: 24rem;
  }
  footer {
    width: 24rem;
  }
}
@media screen and (max-width: 750px) {
  header nav .logo {
    width: 100%;
    text-align: center;
    margin-left: 0;
    float: none;
  }
  header nav .logo img {
    width: 5rem;
  }
  header nav .nav {
    margin-top: 20px;
    width: 100%;
    float: none;
  }
  header nav .nav .m {
    width: 14%;
    text-align: center;
  }
  header h1 {
    width: 80% !important;
    font-size: 1.5rem;
    line-height: 2rem;
  }
  section {
    margin-top: 0;
  }
  section .top {
    width: 100%;
    height: 30rem;
  }
  section .top .top-left {
    width: 100%;
    display: block;
    float: none;
    height: 50%;
  }
  section .top .top-left .pic {
    float: none;
    display: block;
    width: 80%;
    margin-left: 10%;
  }
  section .top .top-left .pic-bot {
    float: none;
    width: 80%;
    display: block;
    margin-left: 10%;
  }
  section .top .top-right {
    width: 90%;
    display: block;
    float: none;
    height: 50%;
    padding-left: 10%;
  }
  section .top .top-right h2 {
    width: 3rem;
    font-size: 0.7rem;
  }
  section .top .top-right p {
    font-size: 0.5rem;
    line-height: 0.7rem;
  }
  section .top .top-right ul li {
    font-size: 0.5rem !important;
  }
  section .main-end .main-endd div {
    width: 45%;
    height: 14rem;
  }
  section .main-end .main-endd h6 {
    top: 8.5rem !important;
    font-size: 0.5rem !important;
  }
  section .main-end .main-endd h6 p {
    font-size: 0.4rem !important;
    line-height: 0.6rem !important;
  }
  .top-main .top-main-body div {
    width: 40% !important;
    padding-top: 7.4rem !important;
  }
  .top-main .top-main-body div h4 {
    font-size: .6rem !important;
  }
  .top-main .top-main-body div h6 {
    font-size: 0.5rem !important;
  }
  .top-main .top-main-body div p {
    font-size: 0.35rem !important;
  }
}
@media screen and (max-width: 540px) {
  .nav {
    display: none;
  }
  .xlon {
    display: block !important;
  }
  .nav {
    width: 100%;
    background: #000;
  }
  .nav .m {
    width: 100% !important;
  }
  .nav .m .s {
    display: none;
  }
  .nav .m a {
    width: 100%;
  }
  .nav .m ol {
    width: 100% !important;
    position: absolute;
  }
  .nav .m ol li {
    width: 100%;
  }
  .nav-bot {
    display: none;
  }
  header h1 {
    margin-top: 10px;
    font-size: 2rem;
    line-height: 2.5rem;
  }
  header h1 a img {
    width: 40%;
  }
  .top {
    height: 40rem !important;
  }
  section .top-main .top-main-body div {
    width: 90% !important;
    height: 27.8rem;
    background-size: contain !important;
  }
  section .top-main .top-main-body div h4 {
    position: absolute;
    top: 16rem;
    font-size: 1.6rem !important;
  }
  section .top-main .top-main-body div h6 {
    position: absolute;
    top: 19rem;
    font-size: 1.3rem !important;
  }
  section .top-main .top-main-body div p {
    position: absolute;
    top: 21rem;
    padding-right: 2rem;
    font-size: 1rem !important;
  }
  section .top-main .top-main-body div h5 {
    bottom: 2rem;
  }
  section .top-main .top-main-body div h5 a {
    font-size: 1rem !important;
  }
  section .main-main .content div {
    width: 100%;
  }
  section .main-main .content .cont-l p img {
    width: 8rem !important;
    height: 2rem !important;
  }
  section .main-main .content .cont-r {
    width: 100%;
  }
  section .main-main .content .cont-r h3 {
    padding-bottom: 20px;
  }
  section .main-main .content .cont-r h2 {
    font-size: 1.5rem;
  }
  section .main-main .content .cont-r h2 a {
    font-size: 1.35rem;
  }
  section .main-main .content .cont-r .cont-r-m div h6 {
    font-size: 0.8rem;
    line-height: 1.5rem;
  }
  section .main-main .content .cont-r .cont-r-m div p {
    font-size: 0.8rem;
    line-height: 1.5rem;
    padding-right: 2rem;
  }
  section .main-end .main-endd div {
    width: 95%;
    height: 26rem;
  }
  section .main-end .main-endd div h6 {
    top: 15.5rem !important;
    font-size: 0.89rem !important;
  }
  section .main-end .main-endd div h6 p {
    line-height: 2rem !important;
    font-size: 0.7rem !important;
  }
  footer .end div {
    width: 25%;
  }
  footer h1 {
    margin-top: 2.5rem;
  }
}
